<launch>
    <!-- Map server -->
    <arg name="map_file" default="$(find mecanumrobot_mrm)/maps/floormapbig2.yaml"/>
    <node pkg="map_server" name="map_server"  type="map_server" args="$(arg map_file)" />

    <!-- AMCL used for localization -->
    <include file="$(find mecanumrobot_mrm)/launch/include/amcl.launch" />
    
    <!-- Calls navigation stack packages for compatible mecanumrobot_mrm base -->
    <!-- Takes reference from env variable MECANUMBASE. ie. export MECANUMBASE=wheeltype -->
    <include file="$(find mecanumrobot_mrm)/launch/include/move_base/move_base_$(env MECANUMBASE).launch" />
</launch>
